
*{
    display: fl;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    border: none;
}

header h1 {
    margin: 0;
}

form {
    margin-top: 10px;
}

main {
    display: flex;
}

section{
    display: flex;
}

#cityInput{
    width: 100%;
    height: 30px;
    border-radius: px;
}

#searchButton:hover{
    opacity: 1;
}

#searchButton {
    color: white;
    margin-top: 3px;
    width: 100%;
    background-color: #445ec7;
    border-radius: 5px;
    border: none;
    padding: 10px 20px;
    opacity: .9;
}

div.history-item {
        color: white;
        margin-top: 3px;
        width: 100%;
        background-color: #424344;
        border-radius: 5px;
        border: none;
        padding: 10px 20px;
        opacity: .9;
        margin-left: -45px;
} 

div.history-item:hover{
    opacity: 1;
}

#citySearch {
    flex: 15%;
    padding: 10px;
    text-align: left;
}

#searchHistory1 {
    border: none;
    border-top: 2px solid darkgray;
    margin: 10px;
}

#weather {
    display: flex;
    flex-direction: column;
    flex: 75%;
    text-align: left;
}

#currentWeather{
    margin: 10px;
    border: 3px solid;
}

#currentWeather ul {
    list-style: none;
}

#text{
    font-size: 30px;
    font-weight: bold;
    margin: 10px;
}

#currentWeather, #forecast{
    
}

#cityWorld{
    font-weight: bolder;
    font-size: 38px;
    font-family: 'Times New Roman', Times, serif
}

.forecast-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow items to wrap onto the next line if necessary */
}

.forecast-item {
    flex-basis: calc(20% - 10px); /* Set the width of each item with spacing in mind */
    margin: 10px;
    padding: 10px;
    color: white;
    background-color: #28283d;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px; /* Optional margin to separate items vertically */
}